<script type="text/javascript">
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array[0];
}

function wrapText(context, text, x, y, maxWidth, lineHeight) {
	var cars = text.split("\n");

	for (var ii = 0; ii < cars.length; ii++) {

		var line = "";
		var words = cars[ii].split(" ");

		for (var n = 0; n < words.length; n++) {
			var testLine = line + words[n] + " ";
			var metrics = context.measureText(testLine);
			var testWidth = metrics.width;

			if (testWidth > maxWidth) {
				context.fillText(line, x, y);
				line = words[n] + " ";
				y += lineHeight;
			}
			else {
				line = testLine;
			}
		}

		context.fillText(line, x, y);
		y += lineHeight;
	}
}

function texts() {
 return [
	"The historical Buddha was not obese. The 'chubby Buddha' or 'laughing Buddha' is a 10th-century Chinese folk hero by the name of Budai",
	"The Quran does not promise martyrs 72 virgins in heaven. It does mention virgin companions, houri, to all people-martyr or not-in heaven, but no number is specified",
	"'Xmas' did not originate as a secular plan to 'take the Christ out of Christmas'. X stands for the Greek letter chi, the starting letter of Χριστός (Christos), or 'Christ' in Greek",
	"All different tastes can be detected on all parts of the tongue by taste buds, with slightly increased sensitivities in different locations"
 ]
}

window.onload = function(){
     var canvas = document.getElementById("fuckinguy");
     var context = canvas.getContext("2d");
     var imageObj = new Image();
     imageObj.onload = function(){
         context.drawImage(imageObj, 10, 10, 459, 309);
         context.font = "12pt Comic Sans";
         var text = shuffle(texts());
		 var x = 280;
		 var y = 40;
		 var maxWidth = 180;
		 var lineHeight = 18;

		 wrapText(context, text, x, y, maxWidth, lineHeight);
         //context.fillText(text, 160, 40);
     };
     imageObj.src = "this-fuckin-guy.jpg"; 
};
</script>

<a href="https://en.wikipedia.org/wiki/List_of_common_misconceptions">List of common misconceptions</a>

<br/>

<p>This is open source. Add more stupid fucken things this guy can't shut up 
about on <a href="https://gitlab.com/justinxreese/actually.gitlab.io/blob/master/public/index.html">the gitlab repo</a>.</p>

<canvas id="fuckinguy" width="480" height="329">
</canvas>

<aside>Found this weirdo explained <a href="http://joshreads.com/?p=24043">here</a> while google image searching for pictures of snails.</aside>